//
// NEEDS TO BE CLEANED UP


// See _maps.scss
// Use #{dds-var($cssvar)}


// ========================================================================
// Spacers / Gutters
// ========================================================================

$dds-global--container-spacer:              dds-size-prem(16px) !default;
$dds-global--content-spacer:                 dds-size-prem(4px) !default;


// ========================================================================
// Needs to be resolved! DO NOT USE!
// ========================================================================


$dds-global--space-size-root: $dds-global--font-size-root !default; // for spaces

// ========================================================================
// Grid Breakpoints
// ========================================================================

$dds-global--grid-breakpoint--xs: 0 !default;
$dds-global--grid-breakpoint--sm: 576px !default;
$dds-global--grid-breakpoint--md: 768px !default;
$dds-global--grid-breakpoint--lg: 992px !default;
$dds-global--grid-breakpoint--xl: 1200px !default;

$dds-global--grid-breakpoints: (
xs: $dds-global--grid-breakpoint--xs,
sm: $dds-global--grid-breakpoint--sm,
md: $dds-global--grid-breakpoint--md,
lg: $dds-global--grid-breakpoint--lg,
xl: $dds-global--grid-breakpoint--xl
) !default;

$dds-global--grid-breakpoint--xs--max: $dds-global--grid-breakpoint--sm - 1 !default;
$dds-global--grid-breakpoint--sm--max: $dds-global--grid-breakpoint--md - 1 !default;
$dds-global--grid-breakpoint--md--max: $dds-global--grid-breakpoint--lg - 1 !default;
$dds-global--grid-breakpoint--lg--max: $dds-global--grid-breakpoint--xl - 1 !default;


// ========================================================================
// Spacers / Gutters
// ========================================================================

// Factors of 1em or 16px;
$dds-global--spacer--xxs:    dds-size-prem(4px) !default;
$dds-global--spacer--xs:     dds-size-prem(8px) !default;
$dds-global--spacer--sm:     dds-size-prem(12px) !default; // NEW. Not in PF
$dds-global--spacer:         $dds-global--container-spacer; // base
$dds-global--spacer--md:     dds-size-prem(24px) !default;
$dds-global--spacer--lg:     dds-size-prem(32px) !default;
$dds-global--spacer--xl:     dds-size-prem(48px) !default;
$dds-global--spacer--xxl:    dds-size-prem(64px) !default;
